.app {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 600px;
    padding: 20px;
    margin: 50px auto;
}

.app-header {
    margin-bottom: 20px;
}

h5 {
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 15px;
}

.app-header button {
    padding: 10px 30px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 3px;
    border: 1px solid cornflowerblue;
    background-color: cornflowerblue;
    cursor: pointer;
    outline: none;
}